@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/* RESET */

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

:root {
      --BODY-BGCOLOR-VIBRANT: hsl(95, 80%, 12%);
      --BODY-BGCOLOR: hsl(95, 80%, 3%);
      --TXT-COLOR-DRK: black;
      --TXT-COLOR-EASY: rgb(165, 157, 138);
      --TXT-COLOR-LGT: rgb(250, 255, 181);
}

/* GENERAL */

body {
      min-height: 100vh;
      background-color: var(--BODY-BGCOLOR);
      text-align: center;
      font: 2rem "Nunito", sans-serif;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
}

main {
      margin-top: 30px;
      flex-grow: 1;
}

header, footer {
      width: 100%;
      background-color: var(--BODY-BGCOLOR-VIBRANT);
      position: sticky;
      color: var(--TXT-COLOR-LGT);
}

header {
      font: 2rem "Segoe Script", sans-serif;
      padding: 2rem;
}

header h1 {
      text-transform: uppercase;
}

/* article {
      overflow: scroll;
}  */

article h2 {
      background-color: rgb(10, 61, 10);
      color: var(--TXT-COLOR-LGT);
}

article img {
      object-fit: cover;
}

article p {
      text-align: justify;
      color: var(--TXT-COLOR-EASY);
}

.article-track {
      max-width: 100vw;
      display: flex;  
      justify-content: center;
      gap: 5vw;
      position: relative;
      /* left: 50%;
      top: 50%; */
      transform: translate(0%, 0%);
      overflow: visible;
}

.next-button,
.previous-button {
      display: block;
      width: 50px;
      height: 50px;
      background-color: var(--BODY-BGCOLOR-VIBRANT); 
      border: none;
      border-radius: 50%;
}


